body{
  display: flex;
  flex: content;
  justify-content: center;
  background-color: chocolate;
}

.lista{
  background-color: seashell;
  padding: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: navy;
  /* display: flex;
  justify-content: center; */
}

.lista ul{
  list-style: none;
  font-weight: bolder;
}